apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kubernetes-disk-performance-monitor
  namespace: monitoring
  labels:
    app: kubernetes-disk-performance-monitor
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: kubernetes-disk-performance-monitor
  endpoints:
    - port: http # must match the Service port *name*
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: node
