apiVersion: v1
kind: Service
metadata:
  name: kubernetes-disk-performance-monitor
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: kubernetes-disk-performance-monitor
